#top #wrap_all #header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	#header_meta {
		background-color: $color-gray-dark;
		border: none;

		.container .phone-info {
			a {
				color: white;
				text-transform: uppercase;
				font-size: 0.5625rem;
				font-weight: 400;
				cursor: pointer;
				padding: 0 10px;
				border-right: 1px solid white;

				&:last-child {
					padding-right: 0;
					border: 0;
				}
			}
		}
	}

	#header_main {
		background-color: $color-black;
		border: none;

		.container {
			height: 89px;
			line-height: 89px;

			.logo {
				padding: 20px 0;
			}

			.main_menu {
				ul li {
					a {
						font-size: 0.875rem;
						font-weight: 300;
					}

					.sub-menu {
						border: none;

						li a {
							border: none;
							font-size: 0.8125rem;

							&:hover {
								background-color: $color-gray-dark;
							}
						}
					}
				}
			}
		}
	}

	.header_bg {
		display: none;
	}
}

@media screen and (max-width: $media-desktop-sm) {
	#top #wrap_all {
		#header_main {
			.container {
				height: 75px;
				line-height: 75px;
				
				.logo {
					max-width: 200px;
				}

				.main_menu {
					ul li a {
						line-height: 75px;
						height: 75px;
					}
				}
			}			
		}
	}
}

@media screen and (max-width: $media-tablet) {
	.responsive #top #wrap_all #header {
		position: fixed;
		top: 0;
		left: 0;

		#header_main {
			.container {
				width: 100%;
				max-width: 100%;
				padding: 0 20px;

				.logo {
					padding: 0;
					max-width: 200px;
				}

				#advanced_menu_toggle {
					border: none;
					width: auto;
					right: 20px;

					&:before {
						display: none;
					}

					&:after {
						content: '\f0c9';
						font-family: $font-awesome;
						font-size: 1.5625rem;
						color: $color-gold-med;
					}

					&:hover {
						background-color: transparent;
						color: inherit;
					}
				}
			}			
		}
	}
}