#top #wrap_all #main {
	.avia-layerslider {
		position: relative;
		.ls-fullscreen-wrapper {
			// height: 100% !important;
			.ls-wp-fullwidth-helper {
				// height: 100% !important;
				.ls-wp-container {
					// height: 100% !important;
					.ls-lt-container {
						// height: 100% !important;
					}
				}
			}
			.ls-gui-element {
				display: none;
				visibility: hidden;
			}
		}
	}
}

@media screen and (max-width: $media-mobile) {
	#top #wrap_all #main {
		.avia-layerslider {
			max-height: calc(100vh - 109px);
		}
	}
}