#top {
	#wrap_all #main {
		padding-top: 118px;
		//Home page
		.avia-fullscreen-slider {
			.caption_fullwidth {
				margin: 0;
				
				.slideshow_align_caption {
					.avia-caption-title {
						font-size: 38px;
						font-weight: 300;
						color: white;
						// text-shadow: 0 0 5px black;
					}
				}

				.avia-caption-content  {
					p {
						color: white;
						// text-shadow: 0 0 5px black;
					}
				}
			}
		}
		
		// Featured content CTAs
		.av-masonry {
			.av-masonry-container .av-masonry-entry .av-inner-masonry {
				.av-inner-masonry-content {
					.av-masonry-entry-content {
						font-family: $font-script;
						font-size: 30px;
						display: inline-block;
						margin: 0 auto;
						padding: 10px;
						// background-color: rgba(black, 0.5);
					}
				}

			}
		}
		
		// Internal pages
		#page-header {
			.av-special-heading {
				h2 {
					color: white;
				}
			}
		}

		#about-us {
			.av_two_fifth {
				background-color: #efefef;
				border: 1px solid #e8e8e8;
				padding: 20px;

				.av-styling-circle {
					img {
						border: 5px solid rgba($color-gray-dark, 0.05);
					}
				}

				.av_textblock_section {
					.avia_textblock {
						p {
							font-size: 14px;
							line-height: 26px;
						}
					}
				}
			}
		}
	}

	// &.logged-in {
	// 	#header_meta .container .phone-info a:first-child {
	// 		border: none !important;
	// 		padding: 0 !important;
	// 	}
	// }
}

@media screen and (max-width: $media-desktop-sm) {
	#top #wrap_all #main {
		padding-top: 105px;
	}
}