#top #wrap_all #main {
	.avia-layerslider {
		position: relative;
		// height: 85vh !important;

		.ls-wp-fullwidth-container {
			height: 100% !important;
			
			.ls-wp-fullwidth-helper {
				height: 100% !important;
			
				.ls-wp-container  {
					height: 100% !important;
				
					.ls-lt-container {
						height: 100% !important;
					}
				}
			}		
		}
	}
}

@media screen and (max-width: $media-mobile) {
	#top #wrap_all #main {
		.avia-layerslider {
			max-height: calc(100vh - 109px);
		}
	}
}