// Colors
$color-gold-dark: #c6922c;
$color-gold-med: #ffb540;
$color-gold-light: #ffefbc;
$color-gray-dark: #616161;
$color-gray-med: #979797;
$color-gray-light: #bcbcbc;

// Fonts
$font-main: 'Open Sans', sans-serif;